.waveContainer {
    position: absolute;
    bottom: 150px;
    width: 100vw;
    z-index: 1;

    &--top {
        bottom: auto;
        top: 150px;
        transform: rotate(180deg);
    }

  .wave {
    position: absolute;

    &--2 {
        opacity: 0.5;
    }
  }
}