@import '../../sass/colors';
@import '../../sass/mixins';

.home {
	position: relative;
	height: 100svh;
	min-height: 600px;
	max-height: 1366px;
	max-width: 2000px;
	margin: 0 auto;
	padding-top: 9em;
	overflow: hidden;


	.wrapper {
		position: relative;
	}

	.heading {
		@include heading;
		text-align: center;
	}

	.text {
		@include text;
		margin-top: 1.5em;
		text-align: justify;
	}

	.ctaBtn {
		display: block;
		width: fit-content;
		margin-top: 5em;
		padding: 0.8em 0.5em;
		font-weight: bold;
		color: $main-orange;
		border: 2px solid $main-orange;
		border-radius: 10px;
		transition: background-color 0.4s, color 0.4s, scale 0.3s;

		&:hover {
			background-color: $main-orange;
			color: $dark-brown;
			scale: 0.95;
		}
	}

	.home_img {
		position: absolute;
		bottom: 0;
		right: 0;
		// width: 80%;
		height: 40%;
		// min-width: 256px;

		// border: 1px solid red;
	}

	.flowers_img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 500px;
		z-index: -1;
	}
}

@media (min-width: 375px) {
	.home {
		.text {
			margin-top: 2em;
		}

		.ctaBtn {
			margin-top: 7em;
		}
	}
}

@media (min-width: 768px) {
	.home {
		padding-top: 13em;
		.wrapper {
			padding: 0 5em;
		}

		.home_img {
			height: 50%;
		}
	}
}

@media (min-width: 992px) {
	.home {
		padding-top: 10em;

		.home_img {
			top: 0;
			bottom: auto;
			height: 100%;
			width: auto;

			@media (orientation: portrait) {
				right: -30%;
			}
		}

		.heading {
			text-align: left;
			width: 45%;
		}

		.text {
			text-align: left;
			width: 40%;
		}

		.ctaBtn {
			margin-top: 3em;
		}
	}
}

@media (min-width: 1200px) {
	.home {
		.text,
		.heading {
			width: 50%;
		}

		.home_img {
			height: 100%;
			top: 0;
		}
	}
}

@media (min-width: 1400px) and (min-height: 670px) {
	.home {
		padding-top: 15em;
	}
}

//height

@media (min-height: 650px) and (max-width: 767px) {
	.home {
		padding-top: 10em;
	}
}

@media (min-height: 750px) and (max-width: 400px) {
	.home {
		padding-top: 12em;

		.text {
			margin-top: 2em;
		}
	}
}
