@import '../../sass/mixins';
@import '../../sass/colors';

.reachUs {
	position: relative;
	padding-top: 4em;
	padding-bottom: 7em;
	overflow-x: clip;
	background: linear-gradient(white, #dfdfdf);

	.wrapper {
		* {
			position: relative;
		}
	}

	.wave {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 1;
	}

	.roadImg {
		position: absolute;
		bottom: 10px;
		right: 0;
		width: 350px;
	}

	.heading {
		@include heading;
		text-align: center;
		font-size: 2.4em;
	}

	.text {
		@include text;
		margin-top: 2em;
		text-align: center;
	}

	.mapContainer {
		width: 100%;
		height: 350px;
		margin: 3em 0;
		border: 1px solid lightgray;
		border-radius: 10px;
		box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.3);
	}
	
	.map {
		height: 100%;
		width: 100%;
		border-radius: 10px;
		border: none;
	}

	.address {
		@include text;
		text-align: center;
		font-size: 1.1em;


		.name {
			font-weight: bold;
			font-size: 1.3em;
		}
	}

	.info {
		@include text;
		margin-top: 4em;

		a {
			@include link;
			white-space: nowrap;
		}
	}
}

@media (min-width: 576px) {
	.reachUs {
		.wave {
			bottom: -40px;
		}

		.roadImg {
			bottom: 0;
			right: 0;
			width: 400px;
		}
	}
}

@media (min-width: 768px) {
	.reachUs {
		.roadImg {
			bottom: 0;
			right: 0;
			width: 600px;
		}

		.map-address_container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 1em;

			.mapContainer {
				width: 60%;
				height: 250px;
			}
		}
	}
}

@media (min-width: 992px) {
	.reachUs {
		.wave {
			bottom: -10px;
		}

		.roadImg {
			width: 700px;
			bottom: 30px;
		}

		.map-address_container {
			justify-content: center;
			gap: 8em;

			.mapContainer {
				width: 60%;
				height: 300px;
			}
		}
	}
}

@media (min-width: 1200px) {
	.reachUs {
		padding-bottom: 150px;

		.map-address_container {
			.mapContainer {
				height: 350px;
				max-width: 670px;
			}
		}
	}
}

@media (min-width: 1400px) {
	.reachUs {
		.wrapper {
			position: relative;
		}

		.roadImg {
			bottom: -90px;
		}
	}
}

@media (min-width: 1700px) {
	.reachUs {
		padding-bottom: 200px;
	}
}
