# Włącz moduł przepisów
RewriteEngine on

# Przekierowanie z www do wersji bez www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Przekierowanie HTTP do HTTPS
RewriteCond %{ENV:HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Przekierowanie index.html do głównej strony
RewriteRule ^index\.html$ / [NC,R,L]

# Wszystkie żądania kieruj do index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]