@import '../../sass/colors';

.swiperContainer {
	position: relative;
	height: 300px;
	width: 100%;

	&:global(.swiper) {
		overflow: visible;
	}

	.birdImg {
		position: absolute;
		top: -35%;
		right: -15%;
		width: 280px;
	}

	.swiperBtns {
		position: absolute;
		bottom: -6em;
		left: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
		transform: translateX(-50%);
		color: $main-orange;

		.prev,
		.next {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3.5rem;
		}
	}

	.card {
		position: relative;
		height: 230px;

		display: flex;
		justify-content: center;
		align-items: center;

		.container {
			position: relative;
			width: 100%;
			max-width: 382px;
			height: 100%;
			margin-top: 3em;
		}

		.contentBox {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 90%;
			max-width: 344px;
			height: 100%;
			padding: 3em 1em;
			border: 1px solid rgba(211, 211, 211, 0.2);
			border-radius: 50px 50px 0px 50px;
			box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.3);
			background-color: white;
			z-index: 2;

			.comment {
				max-height: 100%;
				font-size: 0.85em;
				line-height: 1.2em;
				overflow: clip;
				font-style: italic;
				color: gray;
			}

			.quote1,
			.quote2 {
				position: absolute;
				top: 4%;
				left: 4%;
				font-size: 4rem;
				color: $main-orange;
				opacity: 0.5;
			}

			.quote2 {
				top: auto;
				left: auto;
				bottom: 2%;
				right: 2%;
			}

			.rating {
				position: absolute;
				top: 7%;
				right: 10%;
			}
		}

		.userBox {
			position: absolute;
			bottom: -17%;
			left: 0;
			display: flex;
			justify-content: start;
			align-items: end;
			gap: 0.5em;
			width: 70%;

			max-width: 305px;

			height: 120px;
			padding: 0.6em;
			font-size: 1.5rem;
			background-color: $main-orange;
			background-image: linear-gradient(
				150deg,
				transparent,
				transparent,
				rgba(0, 0, 0, 0.3)
			);
			border-radius: 30px;
			transform: skew(-17deg);
			z-index: 1;

			.icon {
				font-size: 3rem;
				transform: skew(17deg);
				color: white;
			}

			.username {
				font-weight: bold;
				color: $dark-brown;
				transform: skew(17deg);
			}
		}
	}
}

@media (min-width: 400px) {
	.swiperContainer {
		.birdImg {
			top: -40%;
			right: -10%;
			width: 320px;
		}
	}
}

@media (min-width: 576px) {
	.swiperContainer {
		.birdImg {
			top: -43%;
			right: -7%;
			width: 370px;
		}
	}
}

@media (min-width: 768px) {
	.swiperContainer {
		.birdImg {
			top: -45%;
			right: 10%;
			width: 400px;
		}

		.swiperBtns {
			.prev, .next {
				font-size: 5rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.swiperContainer {
		.birdImg {
			top: -75%;
			right: -10%;
			width: 600px;
		}
	}
}

@media (min-width: 1200px) {
	.swiperContainer {
		.birdImg {
			right: -5%;
		}

		.card {
			
			.container {
				max-width: none;
			}

			.contentBox {
				max-width: fit-content;
				width: 450px;
			}

			.userBox {
				left: 6%;
			}
		}
	}
}
