@import './sass/reset';
@import './sass/hamburger';

body {
	font-size: 1.4rem;
	font-family: "Poppins", sans-serif;
	min-width: 320px;
	height: 200vh;

	@media(min-width: 400px) {
		font-size: 1.6rem;
	}
}
