@import './sass/reset';
@import './sass/hamburger';
@import './sass/mixins';

body {
	font-size: 1.4rem;
	font-family: "Poppins", sans-serif;
	min-width: 320px;

	@media(min-width: 400px) {
		font-size: 1.6rem;
	}

	.toaster {
		border: 2px solid $main-orange;

		.go2344853693 {
			background-color: $main-orange;
		}
	}
}
